body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  padding: 10px;
  background-color: #333;
  color: white;
  display: flex;
  justify-content: flex-start;
}

#menuButton {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: 800px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.modal.hidden {
  display: none;
}

.modal-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  display: flex;
  gap: 5px;
}

.logo-part-1 {
  color: #4caf50;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400px;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1.5px;
}

.logo-part-2 {
  color: #2196f3;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400px;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1.5px;
}

.modal-content {
  text-align: center;
  margin: auto 0;
}

.modal-link {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin: 15px 0;
  transition: color 0.3s;
}

.modal-link:hover {
  color: #4caf50;
}

#closeButton {
  background: none;
  border: none;
  color: black;
  font-size: 24px;
  cursor: pointer;
  padding: 5px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.modal-backdrop.active {
  display: block;
}
